body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}
/* h2{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: Arial, Helvetica, sans-serif;
} */
.darkbg{
    background-color: rgba(136, 17, 17, 0.915) !important;
}
.text-primary{
    color: rgb(18, 18, 68) !important;
}